[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Parsa Poorshikhian
	email = parsa.poorsh@gmail.com
	signingkey = FFB2FE0B3E3CD970
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
        abbrev = 12
[pretty]
        fixes = Fixes: %h (\"%s\")
[sendemail]
  ; setup for using git send-email; prompts for password
  smtpuser = parsa.poorsh@gmail.com
  smtpserver = smtp.googlemail.com
  smtpencryption = tls
  smtpserverport = 587
[credential]
	helper = store
